.root {
  width: 100%;
  height: 80%;
  position: relative;
  overflow: hidden;
}

.cloud {
  width: fit-content;
  height: fit-content;
  font-size: var(--size8);
  position: relative;
  aspect-ratio: 1 / 1;
}
