.root {
  display: flex;
}

.unitRoot {
  display: flex;
  align-items: center;
}

.edgeWrapper {
  display: flex;
  width: 100px;
  height: 8px;
}

.inactiveEdge {
  background-color: var(--gray300);
  width: 100%;
  height: 8px;
}

.activeEdge {
  background-color: var(--gray700);
  position: absolute;
  height: 8px;
}

.node {
  width: var(--size7);
  height: var(--size7);
  border-radius: 50%;
}
