.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.pageRoot {
  width: 200px;
  border: 1px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 4px;
}

.header {
  width: 100%;
  border-radius: 4px;
  background-color: #f7f7f8;
  padding: 8px;
  font-size: 10px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  padding: 4px;
}

.item {
  background-color: #f7f7f8;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
