.root {
  display: flex;
  align-items: center;
  background-color: var(--gray100);
  border-radius: var(--size3);
  padding: 0 var(--size8);
}

.counter {
  display: flex;
  padding: var(--size8);
  font-size: var(--size9);
}

.number {
  width: var(--size6);
  user-select: none;
}

.button {
  width: var(--size9);
  height: var(--size9);
  border: 1px solid var(--gray100);
  border-radius: var(--size3);
  background-color: var(--gray300);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
