@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.root {
  padding: 12px 8px;
  font-size: 12px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #3c3c3c;
  animation: slidein 0.7s;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
