.root {
  display: flex;
  width: 500px;
  height: 100%;
  justify-content: center;
  align-items: end;
  bottom: var(--size8);
  position: relative;
}

.wallet {
  width: 50%;
  height: 30%;
  border-radius: var(--size5);
  position: relative;
}

.card {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 70%;
  height: 80%;
  background-color: var(--blue);
  border-radius: var(--size2);
  display: flex;
  padding: var(--size2);
}

.frontWallet {
  background-color: var(--gray300);
  border-radius: var(--size5);
  position: absolute;
  inset: 0;
  z-index: 4;
  cursor: pointer;
  padding: var(--size4);
}

.walletHeader {
  width: 100%;
  height: var(--size4);
  border-radius: var(--size2);
  opacity: 0.3;
  background-color: white;
}
