.root {
  border-radius: 12px;
  height: 350px;
  background-color: white;
  position: relative;
}

.header {
  padding: 12px 24px;
  color: #565656;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.contentWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.inspiredByText {
  position: absolute;
  bottom: 0;
  padding: 12px 24px;
  cursor: pointer;
  color: #565656;
}
