:root {
  --gray100: #f4f4f4;
  --gray300: #d4d4d4;
  --gray500: #b4b4b4;
  --gray700: #747474;
  --gray900: #343434;

  --blue: #00b2ff;
  --green: #01c947;
  --yellow: #feb90c;

  --size0: 4px;
  --size1: 8px;
  --size2: 12px;
  --size3: 16px;
  --size4: 20px;
  --size5: 24px;
  --size6: 32px;
  --size7: 36px;
  --size8: 40px;
  --size9: 48px;

  --boxShadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
