.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

  grid-auto-flow: row dense;
  grid-gap: 15px;
  padding: 20px;
}

@media only screen and (max-width: 800px) {
  .root {
    grid-template-columns: repeat(5, 1fr); /* 2 items per row */
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    grid-template-columns: repeat(10, 1fr);
  }
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f0efec;
  color: #000000;
  border-radius: 20px;
  padding: 15px;
  font-size: 32px;
  cursor: pointer;

  aspect-ratio: 1;
  user-select: none;
}

.activeSelection {
  cursor: default;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  background-color: white;

  position: absolute;
  inset: 20%;
  display: grid;
  place-items: center;
  z-index: 10;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.unfinished {
  color: gray;
}

.incomplete {
  background-color: var(--gray100);
  color: var(--gray300);
  cursor: not-allowed;
}
