.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 15px;
  padding: 20px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f0efec;
  color: #000000;
  border-radius: 20px;
  padding: 15px;
  font-size: 32px;

  aspect-ratio: 1;
}
