.root {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  inset: auto 0px;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 48rem;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
}

.toolbar {
  height: 80px;
  border-bottom: 1px solid black;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9rem;
  gap: 16px;
  background-color: #f7f7f8;
}
