.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: var(--size7);
  border-radius: var(--size2);
}

.controlWrapper {
  display: flex;
  gap: var(--size4);
}

.icon {
  width: var(--size7);
  height: var(--size7);
  background-color: var(--gray100);
  border-radius: var(--size1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
