.button {
  border-radius: 8px;
  font-weight: 500;
  font-size: var(--size3);
  min-width: 150px;
  padding: var(--size1) var(--size2);
  overflow: hidden;
  background: var(--gray300);
  position: relative;
  border: none;
}

.span {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--gray900);
}

.wrapper {
  display: flex;
  justify-content: center;
}
