.root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.button {
  padding: 0 12px;
  line-height: 40px;
  color: #666;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  border-radius: 24px;
}

.active {
  color: #fff;
  background-color: black;
}
