.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border: 1px solid var(--gray100);
  border-radius: var(--size2);
}

.slider {
  width: 80%;
  height: var(--size2);
  background-color: var(--gray500);
  border-radius: var(--size3);
  display: flex;
  align-items: center;
}

.drag {
  width: var(--size4);
  height: var(--size4);

  background-color: var(--gray700);
  border-radius: var(--size3);
}
